**/**.cmd
**/**.ko
**/**_app
**/**.mod.*
**/**.symvers
**/**.order
**/.temp**
**/**.mod
**/*.o
**/.cache/*
**/.cache/clangd/index/**.idx
**/compile_commands.json
**/.*.ko.cmd
**/.*.mod.cmd
**/.*.mod.o.cmd
**/.*.o.cmd
**/Module.symvers
**/modules.order
**/*.ko
**/*.mod
**/*.mod.c
